nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 7%;
    border-bottom: 1px var(--tracking-gray) solid;
}

.main-menu  {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-menu > li {
    margin: 10px 20px;
}

nav > .right > .logo > img {
    width: 80%;
}

.split-menu {
    margin-left: 130px;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
    display: none;
}

.main-menu > li > a:hover {
    opacity: 0.7;
}

/* MOBILE RESPONSIVE */

@media (max-width: 600px) {

    /* HEADER */

    .menu-btn {
        display: block;
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    .nav ul.right {
        margin: 0;
    }

    .nav ul.main-menu {
        display: none;
        flex-direction: column-reverse;
        justify-content: center;
        position: absolute;
        top: 89px;
        right: 0;
        background: #fff;
        width: 100%;
        height: 276px;
        border-top: var(--red) 2px solid;
        opacity: 1;
        padding: 30px;
        transition: transform 0.5s ease-in-out;
        z-index: 3;
        margin: 0 auto;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    .nav ul.main-menu.show li a {
        border-bottom: var(--tracking-gray) solid 1px;
        width: 90%;
        font-size: 12px;
        text-align: center;
    }

    .nav ul.main-menu.show li a {
        border-bottom: var(--tracking-gray) solid 1px;
        width: 90%;
        font-size: 12px;
        text-align: center;
    }

    .nav ul.main-menu.show {
        display: flex;        
        transition: height 1s ease-in;
    }

    .nav .logo {
        margin-left: 23px;
    }

    .split-menu {
        margin-left: 0;
    }

}

@media (min-width: 601px) and (max-width: 1064px) {

    nav {
        padding: 20px 5%;
    }

    .main-menu > li {
        margin: 10px 6px;
        font-size: 13px;
    }

    .split-menu {
        margin-left: 0;
    }

}